@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Urbanist, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-device-width: 800px) {
  .App {
    /* give padding to all */
  }

  .navbar {
    height: 50px;
    padding: 10px;
    background-color: red;
  }

  .stocks {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .stocks--mainh1 {
    margin: 10px 0;
  }

  .stockcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #f5f5f5;
    padding: 8px;
    border-radius: 10px;
    /* box-shadow: 0 0px 3px 0.2px rgba(0, 0, 0, 0.25); */
  }

  .stockcard img {
    height: 70px;
  }

  .stockcard--wrap {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .stockcard--price--main {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
  }

  .stockcard--price--profit {
    color: #12d18e;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: end;
    margin: 0;
    margin-top: 7px;
  }

  .stockpage {
    display: flex;
    flex-direction: column;
  }

  .stockpage--head {
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
  }

  .stockpage img {
    height: 60px;
  }

  .stockpage--head--wrap--logo {
    display: flex;
    gap: 15px;
  }

  .stockpage--head--wrap--logo h2 {
    margin-top: 10px;
    font-size: 1.4rem;
  }

  .stockpage--head--la {
    font-size: 0.7rem;
    margin: 0;
    text-align: end;
  }

  .stockpage--head--price {
    font-weight: 700;
    font-size: 0.8rem;
    margin: 0;
    margin-top: 7px;
    text-align: end;
  }

  .graph {
    height: 40vh;
    background-color: #212121;
  }

  .stockpage--data {
    margin: 10px 0;
    padding: 10px 30px;
    text-align: center;
    background-color: #fafbfa;
    width: max-content;
    align-self: center;
    border-radius: 15px;
    border: 1px solid #ededed;
  }

  .stockpage--data h1 {
    margin: 3px 0;
    letter-spacing: 1px;
  }

  .stockpage--data--wrap {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  .stockpage--data--d {
    margin: 3px 0;
    font-size: 0.85rem;
    font-weight: 700;
    color: #12d18e;
  }

  .stockpage--data--l {
    font-size: 0.85rem;
    margin: 3px 0;
    font-weight: 600;
    color: #a9a9a9;
  }

  .chart--tooltip p {
    color: #fff;
    font-weight: 700;
  }
}